# this will only ever kick in if the preferred VirtualHost set up hasn't been followed
# and the codebase is just being accessed directly in a subfolder. It's here as backup.
RewriteEngine On
RewriteRule ^(.*)$ public/$1 [L]

# if we are using non vhost, assume localhost is build mode
SetEnvIf Host localhost PROJECT_MODE=build
# also safely assume a local domain is build too
SetEnvIf Host ^192.168. PROJECT_MODE=build
